/* .studentInfo {
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background: rgb(65, 65, 65);
    color: white;
    height: 180px;
    width: 60%;
    margin: 0 auto 40px;
}

#studContName {
    grid-column-start: 1;
    grid-column-end: 2;
}

#studContButtons {
    grid-column-start: 3;
    grid-column-end: 4;
}

.studContBtn {
    margin: 5px;
    width: 9rem;
}

.studContBtn:hover {
    background-color: rgb(14, 163, 250);
    color: white;
    border-color: rgb(14, 163, 250);
}

.behaviorTypeHeader {
    display: block;
    text-align: center;
} */
