html, body {
    height: 100%;
    margin: 0;
  }
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.componentContainer{
  padding-top: 50px;
  background: gray;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background: rgb(173, 175, 173);
}
.waves-effect {
  width: "150px";
  border-radius: "3px";
  letter-spacing: "1.5px";
  margin-top: "1rem";
  z-index: 999;
}
