.side-bar {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    background-color: #008400;
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-bar.open {
    transform: translateX(0);
    background-color: #008400;
}

.side-bar ul {
    height: 40%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center
}


.side-bar li {
    margin: 0.5rem 0;
}

.side-bar a {
    color: orange;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-bar a:hover,
.side-bar a:active {
    color: teal;
}

@media (min-width: 100px) {
    .barClasses {
        background: orange;
    }
}