.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    background-color: rgb(2, 100, 247);
    height: 56px;
    z-index: 300;
}

.welcome-user {
    font-family: 'IBM Plex Serif', serif;
}

.toolbar-logo {
    margin-left: 1rem;
}

.toolbar-logo img {
    width: 180px;
}

.spacer {
    flex: 1;
}

.toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.toolbar-logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.toolbar-items li {
    padding: 0 0.5rem;
}

.toolbar-items a {
    color: white;
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
}
.toolbar-items a:hover,
.toolbar-items a:active {
    color: rgb(11, 250, 250);
}

@media (max-width: 350px) {
    .toolbar-items{
        display: none;
    }
}

@media (max-width: 375px) {
    .welcome-user {
        display: none;
    }
    .h4 {
        font-size: 14px;
    }
}