.toolbar {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #4A4946;
    height: 56px;
}

.toolbar-logo {
    margin-left: 1rem;
}

.spacer {
    flex: 1;
}

.toolbar-navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.toolbar-logo a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.toolbar-items li {
    padding: 0 0.5rem;
}

.toolbar-items a {
    color: white;
    text-decoration: none;
}
.toolbar-items a:hover,
.toolbar-items a:active {
    color: blue;
}

@media (max-width: 350px) {
    .toolbar-items{
        display: none;
    }
}